@font-face {
  font-family: "CF Glitch City";
  font-weight: bold;
  src: url("./assets/fonts/cf_glitch_city/CfGlitchCityRegular-L1vZ.ttf");
}
@font-face {
  font-family: "Futura";
  src: url("./assets/fonts/futura/FuturaPTBook.otf");
}
@font-face {
  font-family: "Futura";
  font-weight: bold;
  src: url("./assets/fonts/futura/FuturaPTBold.otf");
}
@font-face {
  font-family: "Furore";
  src: url("./assets//fonts/furore/Furore.otf");
}
