@font-face {
  font-family: "CF Glitch City";
  font-weight: bold;
  src: url("./assets/fonts/cf_glitch_city/CfGlitchCityRegular-L1vZ.ttf");
}
@font-face {
  font-family: "Source Code Pro";
  src: url("./assets/fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Futura";
  src: url("./assets/fonts/futura/FuturaPTBook.otf");
}
@font-face {
  font-family: "Futura";
  font-weight: bold;
  src: url("./assets/fonts/futura/FuturaPTBold.otf");
}
@font-face {
  font-family: "Furore";
  src: url("./assets//fonts/furore/Furore.otf");
}
